*
{
  font-family: 'Russo One', sans-serif;
  font-family: 'Wix Madefor Display', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}
 *:before, *:after {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}
:root {

  }
  

body{
    position: relative;
    background:#F8F8F8;
    font-size: 16px;
    line-height: 1.2;
    justify-content: center;
    align-items: center;
}

header{
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    padding: 0 100px;
    background: #19181A;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    transition: 1s;
    z-index: 5;
    
}


header.sticky{
    height: 100px;
    background: #F8F8F8;
    color: #3057a6;
    z-index: 5;
}

header .banner{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    transition: 1s;
}
header.sticky .banner{

    opacity: 0;
}

header .logo{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 200px;
    color: azure;
    transition: 1s;
    text-decoration: none;
    z-index: 1;
    font-weight: bold;
}

.logo__img{
  position: relative;
  z-index: 5;
    width: 3%;
    top: 43%;
    left: 50%;
    transform: translate(-43%,-50%);
    color: azure;
    transition: 1s;
    opacity: 0;
}
header.sticky .logo__img{
    color: #3057a6;
    position: relative;
    font-size: 40px;
    left: 120px; 
    opacity: 2;
    transition: 1s;
    z-index: 5;
}
header.sticky .logo{
    color: #3057a6;
    position: absolute;
    font-size: 40px;
    left: 12%;
}

nav{
    max-width: 1200px;
    position: flex;
    z-index: 1;
}

nav ul{
    position: relative;
    transition: 0.5s;   
    transform: translateX(100px);
    opacity: 0;
}
header.sticky nav ul{
    transform: translateX(0);
    opacity: 1;
    transition-delay: 0.5s;
}

nav ul li{
    list-style: none;
    display: inline-block;
}
nav ul li a{
    position: relative;
    color: #302f2f;
    display: inline-block;
    padding: 10px 15px;
    font-size: 1.2em;
    text-decoration: none;
}

nav ul li a:hover{
    color: azure;
}

.iSksGk {
    max-width: 1200px;
    margin: 0px auto;
}


.main__info{
 position: relative;
 display: flex;
 justify-content: center;
 margin-top: 200px;
 margin-bottom: 180px;
 right: 1%;
}
.custom-btn {
  width: 180px;
  height: 50px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  margin:30px 0px ;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
   box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  outline: none;
}
.btn-11 {
  position: fixed;
  border: none;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: #436cbe;
  background: linear-gradient(0deg, #3057a6 0%, #355493 100%);
  color: #fff;
  overflow: hidden;
  z-index: 4;
}
.btn__img{
  position: relative;
  width: 50px;
  height: 50px;
  right: 15px;
}
.btn-11:hover {
    text-decoration: none;
    color: #fff;
}
.btn-11:before {
    position: absolute;
    content: '';
    display: inline-block;
    top: -180px;
    left: 0;
    width: 30px;
    height: 100%;
    background-color: #fff;
    animation: shiny-btn1 3s ease-in-out infinite;
}
.btn-11:hover{
  opacity: .7;
}
.btn-11:active{
  box-shadow:  4px 4px 6px 0 rgba(255,255,255,.3),
              -4px -4px 6px 0 rgba(116, 125, 136, .2), 
    inset -4px -4px 6px 0 rgba(255,255,255,.2),
    inset 4px 4px 6px 0 rgba(0, 0, 0, .2);
}


@-webkit-keyframes shiny-btn1 {
    0% { -webkit-transform: scale(0) rotate(45deg); opacity: 0; }
    80% { -webkit-transform: scale(0) rotate(45deg); opacity: 0.5; }
    81% { -webkit-transform: scale(4) rotate(45deg); opacity: 1; }
    100% { -webkit-transform: scale(50) rotate(45deg); opacity: 0; }
}
.swiper {
  display: flex;
  justify-content: space-between;
  width: 600px;
  height: 400px;
  z-index: 0;
  left: 5%;
  border-radius: 5px;
}
.swiper-wrapper{
  display: flex;
  justify-content: space-between;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0;
  position: relative;
}

.swiper-slide img {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;

}


.maincard__wraper{
 position: relative;
 z-index: 0;
 background-color:#3057a6;
}

.maincard__wraper::before, .maincard__wraper::after {
  content: "";
  position: absolute;
  z-index: 0;
  display: block;
  width: 100%;
  background-repeat: no-repeat;
}
.card__glav h1{
    color:#19181A;
    font-size: 40px;
    margin: 0 auto;
    margin-bottom: 50px;
}
.card__glav p{
    font-size: 22px;
    display: flex;
    margin: 0 auto;
    width: 500px;
    align-content: center;
    justify-content: center;
}
 
.card__wraper{
display: inline-block;
position: relative;
margin: 0px auto;
left: 250px;
}

.card{
  float:left;
  cursor: pointer;
  margin: 50px;
}
.card__text{
  color: azure;
  font-size: 1.8rem;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 1.2rem;
}
.card__img{
  height: 15rem;
  width: 30rem;
  border: 1px solid #fff;
  transition: all 0.9s cubic-bezier(.19,1,.22,1);
}
.card__img:hover{
  border: 10px solid #fff;
}
.card__img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.9s cubic-bezier(.19,1,.22,1);
}




.contact__container{
    margin-top: 500px;
}

.contact__container h1{
    color:#19181A;
    font-size: 30px;
    text-align: center;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 50px;
}


.map__container{
    position: relative;
    display: flex;
    flex-shrink: 1;
}
.map__contact{
    display: inline-block;
    margin: 0px 245px 50px 0px;
    
}
.map__contact p{
    margin-bottom: 10px; 
    font-size: 20px;  
}
#map{
    background:#19181A;
    height: 550px;
    width:100%;
    display: inline-block;
    border: 2px solid;
    box-shadow: 0 0 10px rgba(116, 113, 113, 0.569); 
}

.form__container{
    display: flex;
}

  
  .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    padding: 40px;
    border-radius: 5px;
    box-shadow: 4px 4px 8px 0 rgba(34, 60, 80, 0.2);
  }
  
  .left-side {
    width: 50%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
  }
  
  .left-side::before {
    content: "";
    position: absolute;
    height: 70%;
    width: 2px;
    background: #afafb6;
    right: -15px;
    top: 50%;
    transform: translateY(-50%);
  }
  
  .phone,.email{
    margin-top: 30px;
  }

  .right-side {
    width: 50%;
    margin-left: 50px;
  }
  
  .details {
    margin-bottom: 15px;
    text-align: center;
  }
  
  .details i {
    font-size: 25px;
    margin-bottom: 10px;
  }
  
  .topic {
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 7px;
  }
  
  .text-one,
  .text-two {
    font-size: 22px;
    color: #afafb6;
  }
  
  .topic-text {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
  }
  
  .right-side p {
    margin-bottom: 20px;
  }
  
  .input-box {
    height: 50px;
    width: 100%;
    margin-bottom: 30px;
  }
  
  .input-box input{
    height: 100%;
    width: 100%;
    border: none;
    border-radius: 5px;
    background: #f0f1f8;
    padding: 0 20px;
    margin-bottom: 2px;
  }
  
  .input-box label {
    font-size: 14px;
    color: #afafb6;
    padding-left: 5px;
  }
  
  .input-box textarea {
    resize: none;
    padding: 20px;
    font-family: "Roboto", sans-serif;
  }
  
  .message-box {
    min-height: 110px;
  }
  
  .button {
    display: inline-block;
  }
  
  .button input[type="submit"] {
    color: #fff;
    font-size: 18px;
    background: black;
    outline: none;
    border: none;
    padding: 10px 20px;
    border-radius: 7px;
    transition: 0.2s;
  }
  
  .button input[type="submit"]:hover {
    background: rgb(50, 50, 53);
  }
